.clothing-grid {
  column-count: 5;
  column-gap: 20px;
  padding: 20px;
  margin-top: 80px;
}

.clothing-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
}


@media (max-width: 1024px) {
  .clothing-grid {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .clothing-grid {
    column-count: 1;
  }
}
